/* catatan-app start */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.font {
  margin: 18px 0px 10px 0px;
  text-align: center;
}
/* catatan-app end */

.notesWrapper {
  display: flex;
  gap: 1.6rem;
}

/* search bar start */
.searchBar {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 240px;
  padding: 10px 16px;
  gap: 16px;
  margin-bottom: 10px;
}

.searchBarIcon {
  font-weight: bold;
  font-size: large;
  font-size: 20px;
  color: #6ea074;
}

.searchBarText input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  color: #609966;
}
/* seacrh bar end */
