:root {
  --color1: #edf1d6;
  --color2: #9dc08b;
  --color3: #609966;
  --color4: #050a04;
  --color5: #ebbd05;
  --color6: #0b64f4;
  --color7: #eb1414;
}

/* Global Setting start */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Setting start */

/* Setup font-size start */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color1);
}
/* Setup font-size end */
