/* Global Setting start */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Setting start */

/* Setup font-size start */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #edf1d6;
}
/* Setup font-size end */

/* Scrollbar start */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #9dc08b;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #609966;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #609966;
}
/* Scrollbar end */
