:root {
  --color1: #edf1d6;
  --color2: #9dc08b;
  --color3: #609966;
  --color4: #050a04;
  --color5: #ebbd05;
  --color6: #0b64f4;
  --color7: #eb1414;
}

/* Global Setting start */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Setting start */

/* Setup font-size start */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color1);
}
/* Setup font-size end */

/* catatan-app start */
.catatan-app {
  max-width: 800px;
  margin: 0 auto;
}
.catatan-app h1 {
  margin: 20px 0px;
  text-align: center;
}
/* catatan-app end */

/* catatan-app__wrapper start */
.catatan-app__wrapper {
  justify-content: center;
  display: flex;
  gap: 30px;
}

/* catatan-app__wrapper end */

/* catatanm-form start */
.catatan-form {
  padding: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(15, 23, 42, 0.1);
}

.catatan-form h2 {
  font-size: 2.6rem;
  margin-bottom: 12px;
}

.catatan-form__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catatan-form__body__box {
  display: flex;
  flex-direction: column;
}

.catatan-form__body__box input,
.catatan-form__body__box textarea {
  padding: 6px;
  font-size: 1.6rem;
  border: none;
  outline: 1px solid #609966;
  border-radius: 4px;
}

.catatan-form__body button {
  width: max-content;
  align-self: flex-end;
  padding: 4px 16px;
}

/* catatanm-form end */

/* catatan-list start */
.catatan-list {
  padding: 20px;
  height: 500px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(15, 23, 42, 0.1);
}

.catatan-list h2 {
  font-size: 2.6rem;
  margin-bottom: 12px;
}

.catatan-list__body {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 88%;
  overflow: hidden;
  background-color: #edf1d6;
  overflow-y: scroll;
}

.catatan-list__body__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  padding: 12px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.item-data {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item-data p {
  text-align: justify;
}

.item-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-btn button {
  padding: 8px 16px;
}

.catatan-list__body__noItem {
  width: 437px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catatan-list__body__noItem h3 {
  text-align: center;
}
/* catatan-list end */

/* Scrollbar start */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #9dc08b;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #609966;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #609966;
}
/* Scrollbar end */
